

<div class="container">
  <div class="row">
    <% recipes.each do |r| %>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= r.name %></h5>
          <%= link_to "View", user_recipe_path(current_user.id, r), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <% end %>
 </div>
</div>