<h2>AJAX Land</h2>
<div style="float:left" id="ajax-content">
    <%# <div id="search_bar">
        <input type="text" name="search" value="" autocomplete="on"
        id="searchInput" onkeyup="searchRecipe" placeholder="Search">
    </div> %>
</div><br>

