<h2>AJAX Nav Bar</h2>
<% if current_user %>
  <button id="all-recipes">All Recipes</button>  
  <button id="my-recipes">My Recipes</button>  
<% else %>

<% end %>

<div id="recipe-list"></div>

<div id="myRecipe-list"></div>